<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>filter.AuthenticationFilter</filter-class>
    </filter>
    <!--    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>filter.AdminFilter</filter-class>
    </filter>-->
    <filter>
        <filter-name>HomeFilter</filter-name>
        <filter-class>filter.HomeFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>HomeFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/logout</url-pattern>
        <url-pattern>/product</url-pattern>
        <url-pattern>/user-profile</url-pattern>
        <url-pattern>/discount-code</url-pattern>
        <url-pattern>/review</url-pattern>
        <url-pattern>/cart</url-pattern>
        <url-pattern>/new-order</url-pattern>
        <url-pattern>/order</url-pattern>
    </filter-mapping>
    <!--    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/admin</url-pattern>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>-->
    
    <!-- First url-pattern when access the web.-->
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
